<div class="invoiceListOption">
			<p class="search">
				<input class="searchbox" [(ngModel)]="customSearch" type="text" name="name" placeholder="Search">
			</p>
			<p class="add" style="margin-right: 28%;
max-width: 50px;">
				<button class="addbutton" (click)="refresUsers()" name="button"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
			</p>
			<p class="add">

				<button class="addbutton" type="button" (click)="openForm()" name="button">ADD</button>
			</p>


		</div>


		<div class="container-fluid tab">
			<table class="table heading">
				<thead>
					<tr>
						<th class="col-xs-2">U.No</th>
						<th class="col-xs-3">A/C NAME</th>
						<th class="col-xs-2">TOTAL POINTS</th>
						<th class="col-xs-1">REDEEMED</th>
						<th class="col-xs-1">CLAIMED</th>
						<th class="col-xs-1">BALANCE</th>
						<th class="col-xs-2">EDIT/DELETE</th>
					</tr>
				</thead>
				</table>
			<div class="container usertable">

		<div class="row tablerow">

					<table>
							<tbody>
								<tr *ngFor="let user of AllUsers | normalSearch:customSearch">
									<td class="col-xs-2">{{getPaddedUnique(user.unique)}}</td>
									<td class="col-xs-3">{{user.name}}</td>
									<td class="col-xs-2">{{getTotalPnts(user.float,user.balance)}}</td>
									<td class="col-xs-1">{{user.redeemed}}</td>
									<td class="col-xs-1">{{user.float}}</td>
									<td class="col-xs-1">{{user.balance}}</td>
									<td class="col-xs-2"><i  *ngIf="user.uid>0" (click)="openAutoForm(user)" class="fa fa-pencil-square-o edit" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i *ngIf="user.uid>1" class="fa fa-trash-o deleteicon" (click)="deleteUser(user.uid,false)" aria-hidden="true"></i></td>
								</tr>
							</tbody>

					</table>

		</div>
		</div>
		</div>

			<div class="row totalcalculation ">
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 key">
					<span class="leftText">TOTAL USERS:</span><br>
					<span class="leftText">TOTAL REDEEMED:</span><br>
					<span class="leftText">TOTAL CLAIMS:</span><br>
					<span class="leftText">TOTLA BALANCE:</span><br>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 value">
					<span class="rightText">{{userInfo.total || 0}}</span><br>
					<span class="rightText">{{invoiceInfo.redeemed || 0}}</span><br>
					<span class="rightText">{{userInfo.float || 0}}</span><br>
					<span class="rightText">{{userInfo.balance || 0}}</span><br>
				</div>

			</div>
			<ng2-toasty></ng2-toasty>


			<!-- Modal -->
				  <div bsModal #lgModal="bs-modal" class="modal fade mpdalDiv" tabindex="-1" role="dialog" aria-hidden="true" id="myModal">
				    <!-- <div class="modal-dialog actualDiv"> -->

				      <!-- Modal content-->
				      <div class="modal-content content">
				        <div class="modal-header header">
				          <button  type="button" class="close closeButton" (click)="lgModal.hide()">&times;</button>
				          <h4 class="modal-title">ADD USER</h4>
				        </div>
				        <div class="modal-body modalBody">
									<form class="" (ngSubmit)="onAddUserSubmit()" [formGroup]="addUserForm">
										<hr class="style">
									<div class="row formrow">

										<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 leftcol">
											<p class="labels">
												USERNAME
											</p>
											<input class="inputtext" type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" id="username" placeholder=""><br>
									    <!-- <p class="error" *ngIf="addUserForm.controls.username.touched && !addUserForm.controls.username.valid">
									      * Username is required
									    </p> -->
												<p class="labels lp">
													PASSWORD
												</p>
												<input class="inputtext" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" name="password" id="password" placeholder=""><br>
												<!-- <div class="error" *ngIf="password == ''">
													 <p>
															* Password is required.
													 </p>
												</div> -->
												<p class="labels lp">
													CONFIRM PASSWORD
												</p>
												<input class="inputtext" [(ngModel)]="cpassword" [ngModelOptions]="{standalone: true}" type="password" name="cpassword" id="cpassword" placeholder=""><br>
												<!-- <div class="error" *ngIf="cpassword != password">
													 <p>
															* Passwords Don't Match.
													 </p>
												</div> -->
										</div>
										<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 rightcol">
											<p class="labels">
												TYPE
											</p>
											<div class="btn-group">
									      <label class="btn btn-primary" [(ngModel)]="role" [ngModelOptions]="{standalone: true}" btnRadio="4"
									           >Individual</label>
									      <label class="btn btn-primary" [(ngModel)]="role" [ngModelOptions]="{standalone: true}" btnRadio="5"
									             >Company</label>
									    </div>
											<p class="labels lp">
												EMAIL
											</p>
											<input class="inputtext" type="mail" [(ngModel)]="mail" [ngModelOptions]="{standalone: true}" id="mail" placeholder=""><br>
											    <!-- <div class="error" *ngIf="addUserForm.controls.mail.touched && !addUserForm.controls.mail.valid">
											       <p *ngIf="addUserForm.controls.mail.errors.required">
											          * Mail ID is required.
											       </p>
											       <p *ngIf="!addUserForm.controls.mail.isEmail">
											          * Mail ID entered is invalid.
											       </p>
											    </div> -->


										</div>
									</div>
									<hr *ngIf="updateIn==false" class="style_2">
									<div *ngIf="updateIn==false" class="row formrow2">
										<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 leftcol">
											<p class="labels lp">
												{{(role=='4'? 'FIRST':'COMPANY')}} NAME
											</p>
											<input class="inputtext" type="text" [(ngModel)]="fname" [ngModelOptions]="{standalone: true}" id="fname" placeholder=""><br>
									    <!-- <p class="error" *ngIf="addUserForm.controls.fname.touched && !addUserForm.controls.fname.valid">
									      * {{(role=='4'? 'FIRST':'COMPANY')}} NAME is required
									    </p> -->
											<p class="labels lp">
												{{(role=='4'? 'LAST NAME':'NAME LINE 2')}}
											</p>
											<input class="inputtext" type="text" [(ngModel)]="lname" [ngModelOptions]="{standalone: true}" id="lname" placeholder="">
											<p class="labels lp">
												MOBILE NUMBER
											</p>
											<input class="inputtext" type="text" [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}" id="mobile" placeholder="">
											<!-- <div class="error" *ngIf="addUserForm.controls.mobile.touched && !addUserForm.controls.mobile.valid">
												 <p *ngIf="addUserForm.controls.mobile.errors.required">
														* Mobile Number is required.
												 </p>
												 <p *ngIf="!addUserForm.controls.mobile.isContact">
														* Mobile Number entered is invalid.
												 </p>
											</div> -->
											<p class="labels lp">
												BIRTHDAY
											</p>
											<button type="button" class="glyphicon glyphicon-calendar btn btn-sm btn-default btn-secondary datebutton" (click)="toggleBirthDatePicker()"> {{(birthDay.length && birthMonth.length && birthYear.length)? (birthDay +'-'+ birthMonth +'-'+ birthYear):'Select Birthday'}}</button>
									    <div *ngIf="showBirthDatePicker" class= "datepicker">
									      <datepicker [(ngModel)]="Bdt" (ngModelChange)="onBirthChange($event)" [ngModelOptions]="{standalone: true}" [minDate]="minDate" [showWeeks]="true"></datepicker>
									    </div>
											<p class="labels lp">
												MARITAL STATUS
											</p>
											<div class="btn-group">
								        <label class="btn btn-primary" [(ngModel)]="maritalstatus" [ngModelOptions]="{standalone: true}" btnRadio="Unmarried"
								             >Unmarried</label>
								        <label class="btn btn-primary" [(ngModel)]="maritalstatus" [ngModelOptions]="{standalone: true}" btnRadio="Married"
								               >Married</label>
								       <label class="btn btn-primary" [(ngModel)]="maritalstatus" [ngModelOptions]="{standalone: true}" btnRadio="Other"
								              >Other</label>
								    </div>
										<p class="labels lp">
											Designation
										</p>
										<input class="inputtext" type="text" [(ngModel)]="designation" [ngModelOptions]="{standalone: true}" id="designation" placeholder="">


											<p class="labels lp" *ngIf="maritalstatus=='Married'">
												SPOUSE NAME
											</p>
											<input class="inputtext" type="text" *ngIf="maritalstatus=='Married'" [(ngModel)]="spousename" [ngModelOptions]="{standalone: true}" id="spousename" placeholder="">
											<p class="labels lp" *ngIf="maritalstatus=='Married'">
												WEDDING ANNIVERSARY
											</p>
											<button *ngIf="maritalstatus=='Married'" type="button" class="glyphicon glyphicon-calendar btn btn-sm btn-default btn-secondary datebutton" (click)="toggleStartDatePicker()"> {{(wedDay.length && wedMonth.length && wedYear.length)? (wedDay +'-'+ wedMonth +'-'+ wedYear):'Select Anniversary Date'}}</button>
									    <div *ngIf="showWedDatePicker && maritalstatus=='Married'" class= "datepicker">
									      <datepicker [(ngModel)]="dt" (ngModelChange)="onWeddingChange($event)" [ngModelOptions]="{standalone: true}" [minDate]="minDate" [showWeeks]="true"></datepicker>
									    </div>
									</div>
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 rightcol">
										<p class="labels lp" [hidden]="role=='4'" >
											CO-ORDINATOR EMAIL
										</p>
										<input class="inputtext" type="text" [hidden]="role=='4'" [(ngModel)]="comail" [ngModelOptions]="{standalone: true}" id="comail" placeholder=""><br>
										<!-- <div class="error" *ngIf="addUserForm.controls.comail.touched && !addUserForm.controls.comail.valid">
											 <p *ngIf="addUserForm.controls.comail.errors.required">
													* Mail ID is required.
											 </p>
											 <p *ngIf="!addUserForm.controls.comail.isEmail">
													* Mail ID entered is invalid.
											 </p>
										</div> -->
										<p class="labels">
											ADDRESS LINE
										</p>
										<input class="inputtext" type="text" [(ngModel)]="thoroughfare" [ngModelOptions]="{standalone: true}" id="thoroughfare" placeholder="Room / Apartment / Street">
										<!-- <div class="error" *ngIf="addUserForm.controls.thoroughfare.touched && !addUserForm.controls.thoroughfare.valid">
											 <p *ngIf="addUserForm.controls.thoroughfare.errors.required">
													* Address Line is required.
											 </p>
										</div> -->
										<p class="labels lp">
											CITY
										</p>
										<ng-select #ci class="ng2select" [allowClear]="false"
										            [items]="cities"
										              (selected)="selected($event,'city')"
										              (removed)="removed($event,'city')"
										            [disabled]="disabled"
										            placeholder="No city selected">
										</ng-select>
										<!-- <div class="error" *ngIf="addCity==''">
											 <p>
													* City is required. -->
											 <!-- </p>
										</div> -->
										<p class="labels lp">
											STATE
										</p>
										<ng-select #st class="ng2select" [allowClear]="false"
									              [items]="states"
									              (selected)="selected($event,'state')"
									              (removed)="removed($event,'state')"
									              [disabled]="disabled"
									              placeholder="No state selected">
									  </ng-select>
										<!-- <div class="error" *ngIf="addState==''">
											 <p>
													* State is required.
											 </p>
										</div> -->
										<p class="labels lp">
											Pin Code
										</p>
										<input class="inputtext" type="text" [(ngModel)]="postal_code" [ngModelOptions]="{standalone: true}" id="postal_code" placeholder="">
										<!-- <div class="error" *ngIf="addUserForm.controls.postal_code.touched && !addUserForm.controls.postal_code.valid">
											 <p *ngIf="addUserForm.controls.postal_code.errors.required">
													* Postal Code is required.
											 </p>
										</div> -->
										<p class="labels lp">
											COUNTRY
										</p>
										<ng-select #co class="ng2select" [allowClear]="false"
									              [items]="country"
									              (selected)="selected($event,'country')"
									              (removed)="removed($event,'country')"
									              [disabled]="disabled"
									              placeholder="No state selected">
									  </ng-select>
										<!-- <div class="error" *ngIf="addCountry==''">
											 <p>
													* Country is required.
											 </p>
										</div> -->
									</div>
								</div>

								<button type="submit" class="submitButton">SEND</button>
									</form>

								</div>



								</div>

				      </div>
