<div class="row totalpoints">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 key">
						<span class="leftText">REWARD POINTS:</span><br>
						<span class="leftText">CLAIMED:</span><br>
						<span class="leftText">REDEEMED:</span><br>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 value">
						<span class="rightText">{{userDetails.balance || 0}}</span><br>
						<span class="rightText">{{userDetails.float || 0}}</span><br>
						<span class="rightText">{{userDetails.redeemed || 0}}</span><br>
					</div>

		</div>


		<div class="row termsandcondition">
			<div class="col-lg-6 col-md-6 col-sm-6 leftDiv">
				<p class="Steps">STEPS</p>
				<p class="step1">STEP 1:</p>
				<p class="stepinfo">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p class="step2">STEP 2:</p>
				<p class="stepinfo">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 rightDiv">
				<p class="step3">STEP 3:</p>
				<p class="stepinfo">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p class="step4">STEP 4:</p>
				<p class="stepinfo">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			</div>

		</div>
