*{
  margin: 0;
  padding: 0;
}
.invoiceListOption {
    position: absolute;
    top: 6%;
    width: 95%;
    margin-left: 3%
}
.invoiceListOption .search {
    display: inline
}
.invoiceListOption .search .searchbox {
    border: 0;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 1.8;
    width: 20%;
    outline: none
}
.invoiceListOption .add {
    float: right;
    margin-right: 9%;
    display: inline
}
.invoiceListOption .add .addbutton {
    outline: none;
    border: 0;
    background-color: white;
    border: 1px solid black;
    width: 350%;
    border-radius: 5px;
    line-height: 1.8
}
.tab {
    margin-top: 10%;
    width: 96%;
    margin-left: 2%
}
.tab .heading {
    overflow: hidden
}
.tab .heading thead {
    background-color: #333333;
    color: white;
    overflow: hidden
}
.tab .heading thead tr {
    border: none
}
.tab .heading thead tr th {
    word-break: break-all;
    text-align: center;
    border: none;
    line-height: 2.7;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.tab .usertable {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 230px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    border-top: 0
}
.tab .usertable .tablerow table {
    width: 100%;
    overflow: hidden
}
.tab .usertable .tablerow table tbody tr {
    width: 100%;
    position: relative
}
.tab .usertable .tablerow table tbody tr td {
    word-break: break-all;
    text-align: center;
    border: none;
    border-right: 1px solid #999999;
    line-height: 2;
    font-size: 14px;
}
.tab .usertable .tablerow table tbody tr td i {
    font-size: 120%;
    cursor: pointer
}
.tab .usertable .tablerow table tbody tr td .edit {
    color: #006602
}
.tab .usertable .tablerow table tbody tr td .deleteicon {
    color: #CC0000
}
.tab .usertable .tablerow table tbody tr:nth-child(even) {
    background-color: #CCCCCC;
    border: none
}

.mpdalDiv {
    width: 100%;
    height: 100%;
    padding: 0
}
.mpdalDiv .content {
    width: 46%;
    left: 27%;
    height: 80%;
    top: 10%
}
.mpdalDiv .content .header {
    text-align: center;
    padding: 0;
    border: 0
}
.mpdalDiv .content .header .closeButton {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0.65%;
    opacity: 0.4;
    outline: none
}
.mpdalDiv .content .header h4 {
    line-height: 3.5
}
.mpdalDiv .content .modalBody {
    padding: 0;
    border: 0;
    height: 81%;
    overflow-y: auto
}
.mpdalDiv .content .modalBody form hr.style {
    padding: 0;
    border: none;
    border-top: 1px solid black;
    color: black;
    text-align: center;
    margin-top: 2%
}
.mpdalDiv .content .modalBody form hr.style:after {
    content: "ACCOUNT DETAILS";
    display: inline-block;
    position: relative;
    top: -0.75em;
    font-size: 14px;
    padding: 0 0.1em;
    background: white
}
.mpdalDiv .content .modalBody form .formrow {
    margin: 0;
    padding: 0;
    width: 100%
}
.mpdalDiv .content .modalBody form .formrow .leftcol {
    border-right: 1px solid black
}
.mpdalDiv .content .modalBody form .formrow .leftcol .labels {
    font-size: 11px;
    font-weight: 600;
    margin-left: 13%
}
.mpdalDiv .content .modalBody form .formrow .leftcol .lp {
    margin-top: 5%
}
.mpdalDiv .content .modalBody form .formrow .leftcol .inputtext {
    width: 66.5%;
    outline: none;
    border: none;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 2.2;
    margin: 0;
    padding: 0;
    margin-left: 11%;
    margin-top: -5px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center
}

.mpdalDiv .content .modalBody form .formrow .leftcol .btn-group{
  margin-left: 11%;
  margin-top: -5px;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center
}
.mpdalDiv .content .modalBody form .formrow .rightcol .labels {
    font-size: 11px;
    font-weight: 600;
    margin-left: 20%
}
.mpdalDiv .content .modalBody form .formrow .rightcol .lp {
    margin-top: 5%
}
.mpdalDiv .content .modalBody form .formrow .rightcol .inputtext {
    width: 66.5%;
    outline: none;
    border: none;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 2.2;
    margin: 0;
    padding: 0;
    margin-left: 18%;
    margin-top: -5px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center
}

.mpdalDiv .content .modalBody form .formrow .rightcol .btn-group {
  margin-left: 18%;
  margin-top: -5px;
  padding-left: 2%;
  padding-right: 2%;
}
.mpdalDiv .content .modalBody form .style_2 {
    padding: 0;
    border: none;
    border-top: 1px solid black;
    color: black;
    text-align: center;
    margin-top: 5%
}
.mpdalDiv .content .modalBody form hr.style_2:after {
    content: "CO-ORDINATOR";
    display: inline-block;
    position: relative;
    top: -0.75em;
    font-size: 14px;
    padding: 0 0.1em;
    background: white
}
.mpdalDiv .content .modalBody form .formrow2 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 24%
}
.mpdalDiv .content .modalBody form .formrow2 .leftcol {
    border-right: 1px solid black
}
.mpdalDiv .content .modalBody form .formrow2 .leftcol .labels {
    font-size: 11px;
    font-weight: 600;
    margin-left: 13%
}
.mpdalDiv .content .modalBody form .formrow2 .leftcol .lp {
    margin-top: 5%
}
.mpdalDiv .content .modalBody form .formrow2 .leftcol .inputtext {
    width: 66.5%;
    outline: none;
    border: none;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 2.2;
    margin: 0;
    padding: 0;
    margin-left: 11%;
    margin-top: -5px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center
}
.mpdalDiv .content .modalBody form .formrow2 .leftcol .btn-group,
.mpdalDiv .content .modalBody form .formrow2 .leftcol .datebutton {
  margin-left: 11%;
  margin-top: -5px;
  padding-left: 2%;
  padding-right: 2%;
}
.mpdalDiv .content .modalBody form .formrow2 .rightcol .labels {
    font-size: 11px;
    font-weight: 600;
    margin-left: 20%
}
.mpdalDiv .content .modalBody form .formrow2 .rightcol .lp {
    margin-top: 5%
}
.mpdalDiv .content .modalBody form .formrow2 .rightcol .inputtext {
    width: 66.5%;
    outline: none;
    border: none;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 2.2;
    margin: 0;
    padding: 0;
    margin-left: 18%;
    margin-top: -5px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center
}

.mpdalDiv .content .modalBody form .formrow2 .rightcol .btn-group{
  margin-left: 18%;
  margin-top: -5px;
  padding-left: 2%;
  padding-right: 2%;
}



.mpdalDiv .content .modalBody form .submitButton {
    float: right;
    margin-right: 9%;
    border: 0;
    background-color: #FF6600;
    color: white;
    width: 16%;
    border-radius: 10px;
    outline: none;
    line-height: 2;
    margin-bottom: 2%
}
.mpdalDiv .content .footer {
    padding: 0;
    border: 0
}

.error{
  margin-left: 10%;
color: red;
margin-top: 1%;
}
.rightcol .error{
  margin-left: 17%;
}
